@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.Navigation {
  width: 14rem;
  height: 100vh;
  background: #252525;
}

.NavItem {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  border: 1px solid white;
  text-align: left;
}