@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: -4.8rem;
  margin-top: 1rem;
}

.Navigation {
  width: 15rem;
  height: 100vh;
  background: #252525;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
}

.nav-section {
  position: relative;
  height: 5rem;
  width: 13rem;
  padding-left: 2rem;
  margin: auto;
  cursor: pointer;
  margin-top: 3rem;
  opacity: 0.7;
}

.nav-section:first-of-type {
  background: #2E2E2E;
  opacity: 1;
}

.nav-section:first-of-type::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-top: 2px solid #FFCD68;
  border-left: 2px solid #FFCD68;
}

.nav-section:first-of-type::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-top: 2px solid #FFCD68;
  border-right: 2px solid #FFCD68;
}

.yellow-corner:before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 3px;
  border-bottom: 2px solid #FFCD68;
  border-left: 2px solid #FFCD68;
}

.yellow-corner:after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border-bottom: 2px solid #FFCD68;
  border-right: 2px solid #FFCD68;
}

.NavItem {
  font-weight: 500;
  font-size: 1rem;
  line-height: 5rem;
  padding-left: 1rem;
  display: flex;
}

p {
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  padding-left: 5.5rem;
  padding-bottom: 0.75rem;
}

.brand {
  color: #FFCD68;
  font-weight: 500;
}

.fas {
  font-size: 1.5rem;
  line-height: 5rem;
  float: left;
  color: #727272;
}

.fa-chart-area {
  color: #FFCD68;
}